#box { 
    width: 100%;
    display:inline-block;
}  
#left {
    width: 50%;
    float: left;
    padding: 4px;
    background-color: aqua;
}
#right {
    width: 50%;
    margin-left: 50%;
    padding: 4px;
    background-color: #eee;    
}

img {
  width: 95%;
  max-width: 400px;
  height: auto;
}